//************************** COLORS **************************//
$primary: #00d66c;
$secondary: #f9f9f9;
$third-color: #9a9a9a;
$warn: #eb5858;
$bgColor: #eff3f6;

/*other colors*/
$white: #fff;
$black: #000000;
